{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Task manager" %}</title>
</head>
<body>
<header>
    <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">{% trans "Task manager" %}</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'users_list' %}">{% trans "Users" %}</a>
                </li>
            </ul>
            <a class="btn btn-outline-primary my-2 my-sm-0" href="#">{% trans "Log in" %}</a>
            <a class="btn btn-outline-secondary my-2 my-sm-0" href="#">{% trans "Registration" %}</a>
        </div>
    </div>
</header>

<main role="main" class="container" style="margin-top: 120px;">
    {% block content %}{% endblock %}
</main>
</body>
</html>
