{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Task manager" %}</title>
</head>
<body>

<header>
    <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">{% trans "Task manager" %}</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'users' %}">{% trans "Users" %}</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'statuses' %}">{% trans "Statuses" %}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "labels" %}">{% trans "Labels" %}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'tasks' %}">{% trans "Tasks" %}</a>
                    </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                <a class="btn btn-outline-secondary my-2 my-sm-0"
                   href="{% url "logout" %}">{% trans "Log out" %}</a>
            {% else %}
                <a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'login' %}">{% trans "Log in" %}</a>
                <a class="btn btn-outline-secondary my-2 my-sm-0"
                   href="{% url 'register' %}">{% trans "Registration" %}</a>
            {% endif %}
        </div>
    </div>
</header>

<main role="main" class="container" style="margin-top: 120px">

    {% bootstrap_messages %}

    {% block content %}{% endblock %}
</main>

<footer>
    <div class="container my-5 pt-4 border-top">
        <a href="https://github.com/AlexanderPotapkov">GitHub</a>
    </div>
</footer>

</body>
</html>
